html(lang='en')
	head
		meta(charset='utf-8' name='viewport' content='width=device-width, initial-scale=1.0')
		title QuickShop
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/pugStyle.css')
		script(src='/scripts.js')
	body
		div(class='container-fluid')
			div(class='row no-gutters' id='banner-row')
				div(class='col-xs-4')
					img(src='/logo.png')
				div(class='col-xs-2')
					p
				div(class='col-xs-6')
					form(class='banner' method='get' action='/')
						button(class='banner_button' type='submit' ) Welcome
					form(class='banner' method='get' action='/blockchain')
						button(class='banner_button' id='active_button' type='submit') BlockChain
					form(class='banner' method='get' action='/contactus')
						button(class='banner_button' type='submit') Contact us
			div(class='row no-gutters' id='header-row')
				div(class='col-xs-12')
					h2 Live View of BlockChain
				div(class='col-xs-4')
					input(type='text' id='searchNames' onkeyup='updateTableNames()' placeholder='Search by Name...')
				div(class='col-xs-4')
					input(type='text' id='searchDates' onkeyup='updateTableDates()' placeholder='Search by Date...')
				div(class='col-xs-4')
					input(type='text' id='searchProducts' onkeyup='updateTableProducts()' placeholder='Search by Items Bought...')
			div(class='row' id='content-row')
				div(class='col-xs-12')
					div(class='table-responsive')
								if(blockNum.length)
									table(id='blockchain_table' class='table table-bordered')
										thead
											tr
												th='Block'
												for block in blockNum
													th= block
										tbody
											tr
												th='Nonce'
												for nonceVal in nonce
													td= nonceVal
											tr(class='data')
												th='Purchased By'
												for name in data_name
													td= name
											tr(class='data')
												th='Date of Purchase'
												for date in data_date
													td=date
											tr(class='data')
												th='Products'
												for product in data_purchase
													td=product
											tr
												th='Previous Hash'
												for pHashVal in prevHash
													td(class='hash')= pHashVal
											tr
												th='Current Hash'
												for hashVal in currHash
													td(class='hash')= hashVal

								else
									p No elements!

