pre
html(lang='en')
	head
		meta(charset='utf-8')
		title QuikShop
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='style.css')
		script(src='scripts.js')
	body(onload = "openTab(event, 'blockchain')")
		div(class='tab')
			button(class='tablinks' onclick="openTab(event, 'welcome')") Welcome
			button(class='tablinks' onclick="openTab(event, 'blockchain')") BlockChain
			button(class='tablinks' onclick="openTab(event, 'contact')") Contact us
		div(id='welcome' class='tabcontent')
			h2 Welcome to Quikshop!

		div(id='blockchain' class='tabcontent')
			h2(display='inline') Live View of Blockchain
			div(class='search-container')
				form(action='/search' method='get')
					input(class='tablinks' type='text' name='name' placeholder='Search...')
					button(onclick="search()") Search
			div(id='datatable')
				table(id='blockchain table' class='table table-bordered')
					thead
						tr
							th='Block'
							for block in blockNum
								th= block
					tbody
						tr
							th='Nonce'
							for nonceVal in nonce
								td= nonceVal
						tr(class='data')
							th='Data'
							for dataVal in data
								td= dataVal
						tr
							th='Previous Hash'
							for pHashVal in prevHash
								td= pHashVal
						tr
							th='Current Hash'
							for hashVal in currHash
								td= hashVal



		div(id='contact' class='tabcontent')
			h2 Contact Information
			p Align center?
